.popup__close {
	width: 40px;
	height: 40px;
	position: absolute;
	top: -40px;
	right: -40px;
	background-color: transparent;
	color: white;
	transform: rotate(45deg);
	cursor: pointer;
}

.popup__close:hover {
	opacity: 0.6;
}